<footer class="bg-body-tertiary py-3 mt-auto">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- copyright -->
      <span class="text-muted">&copy; 2024 Bennett Elmhurst</span>

      <!-- mid link -->
      <a href="https://github.com/BennettElm-alt/Assignment3new.git" target="_blank" class="text-decoration-none text-muted">
        GitHub Repository
      </a>

      <!-- rightlingk -->
      <a href="https://profile.indeed.com/?hl=en_CA&co=CA&from=gnav-homepage" target="_blank" class="text-decoration-none text-muted">
        Indeed Profile
      </a>
    </div>
  </div>
</footer>
