<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <!-- Home -->
    <a href="/" class="btn btn-outline-success me-2">Home</a>
    
    <!-- Assignments -->
    <a href="/assignments" class="btn btn-sm btn-outline-secondary">Assignments List</a>
  </form>
</nav>

